/* Chill Pill 🧘🏽‍♀️ */
/* Codédex */

#wrapper {
  border: 2px solid black;
  border-radius: 5px;
  width: 50%;
  margin: 25vh auto;
  padding: 10px;
  text-align: center;
  transition: background-color 0.5s ease-in-out;
}

#quote-div {
  border: 1px solid black;
  border-radius: 5px;
  width: 75%;
  margin: 10px auto;
  background-color: #fff;
}