/* Cap That 🤪 */
/* Codédex */

body {
  text-align: center;
}

#generator-button {
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  font-weight: bolder;
  font-size: xx-large;
}

#meme-wrapper {
  border: 4px solid black;
  width: 700px;
  height: 500px;
  padding: 5px;
  margin: 15px auto;
}

#random-meme {
  border-radius: 5px;
}

#random-caption {
  margin: 0;
}